/*------------------------
Upcoming Match Section
-------------------------*/
.matches{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}

.match{
    border: 1px solid #E8E8E8;
    border-radius: 12px;
    padding: 50px 30px;
    text-align: center;
}

.match .flags{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vs{
    font-size: 16px;
    font-weight: 600;
    color: #161616;
    margin: 0 15px;
}

.match-title{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color:#161616;
    margin: 20px 0 10px;
}

.match-date{
    font-size: 16px;
    color: #4D4D4D;
}

/*------------------------
Responsive Tab Section
-------------------------*/
@media only screen and (max-width: 992px) and (min-width:689px){
    .matches{
        grid-template-columns: repeat(2, 1fr);
    }
}

/*------------------------
Responsive Mobile Section
-------------------------*/
@media only screen and (max-width: 688px){
    .matches{
        grid-template-columns: repeat(1, 1fr);
    }

}